*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 800px;
    background-color: rgb(246, 248, 249);
}

:root{
    --blue-boolean: rgb(2, 23, 50);
    --text-page-color: rgb(67, 72, 81);
    --check-green: rgb(45, 198, 171);
    --cross-red: rgb(255, 16, 16);
    --right-note-azzurro: rgb(9, 169, 237);
    --button-text-grey: rgb(205, 211, 215);
}

#header_logo{
    height: 50px;
    background-color: white;
}

.logo_boolean{
    height: 100%;
    padding: 5px 0 0 10px;
}

#logo_title{
    font-weight: bolder;
    font-size: 30px;
    vertical-align: 12px;
    color: var(--blue-boolean);
}

#edit_bar{
    height: 50px;
    width: 550px;
    margin: 30px auto auto auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    padding: 15px 0 0 30px;
}

.nav_button{
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    font-size: 9px;
    font-weight: bold;
    color: var(--button-text-grey);
}

#add_task{
    background-color: rgb(20, 170, 245);
}

#add_section{
    border: 1px solid var(--button-text-grey);
}

#main_section{
    width: 550px;
    height: 400px;
    margin: 2px auto auto auto;
    padding: 20px 0 0 30px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    color: var(--text-page-color);
}

.section_title{
    font-size: 18px;
    font-weight: 600;
}


.generic_text{
    display: inline-block;
    margin: 10px 0 0 28px;
}

#new_task_section, #today_section, #upcoming_section{
    margin-bottom: 20px;
}

.right_colored_note{
    font-size: 8px;
    padding: 5px 10px;
    color: var(--button-text-grey);
    border-radius: 10px;
    display: inline-block;
}

.editorial_note{
    background-color: var(--right-note-azzurro);
}

.q1_goals{
    background-color: rgb(171, 93, 230);
}
